
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>trend-form</title>
</head>
<head th:replace="layouts::header"></head>

<body>
<nav th:replace="layouts:: navbar"></nav>

<div th:fragment="trend8-description" class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="font-weight: bold;">Trend of Top-5 Sales State</h1>
            <p class="lead" style="font-size:30px">Showing the sales top-5 sales state with their sales number during 2015-2019 on a line chart</p>
            <p class="lead" style="font-size:30px">In order to analysis the potential top-5 profitable states</p>
            <p class="lead" style="font-size:30px">Red shows 1st sales states</p>
            <p class="lead" style="font-size:30px">Blue shows 2nd sales states</p>
            <p class="lead" style="font-size:30px">Yellow shows 3rd sales states</p>
            <p class="lead" style="font-size:30px">Cyan shows 4rd sales states</p>
            <p class="lead" style="font-size:30px">Purple shows 5rd sales states</p>
        </div>
    </div>
</div>

<center><form th:action="@{/trend8/show}" method="post">
    <input class="btn btn-primary" type="submit" value="Show">
</form></center>


</body>
</html>